* {
    margin: 0;
    padding: 0;
}

body {
    height: 1500px;
    background-image: url(./images/测试1.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-attachment: fixed;
    font-family: "微软雅黑";
    line-height: 1.5;
    font-size: 16px;
    cursor: url(./images/mouse1.png), auto;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}


input {
    border: 1px orangered solid;
    border-radius: 5px;
    outline: none;
}

p {
    text-indent: 2em;
}

.right-float {
    position: fixed;
    width: 150px;
    height: 180px;
    bottom: 20px;
    right: 20px;
    text-align: center;
}

#mouse-move {
    z-index: -99;
    position: absolute;
    transform: translate(-50%, -50%);
}

.top {
    height: 100px;
    width: 1200px;
    margin: auto;
}

.main {
    width: 1200px;
    margin: auto;
}

.center {
    text-align: center;
    align-items: center;
}



a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    cursor: url(./images/mouse2.png), auto;
}

.nav a:hover {
    background-color: skyblue;
}

a:active {
    color: green;
}

.nav {
    text-align: center;
    background-color: rgb(33, 30, 23);
    opacity: 0.8;
    /* 透明度 */
}

.nav a {
    display: inline-block;
    width: 120px;
    height: 60px;
    line-height: 58px;
    color: white;
    /* text-align: center; */
}

.announce {
    float: left;
    width: 790px;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    margin: 20px;
    background: rgba(33, 30, 23, 0.3);
    color: red;
}

.search {
    float: left;
    width: 250px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    padding-left: 5px;
    padding-top: 10px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px black;
    background-color: rgb(33, 30, 23);
    opacity: 0.8;
}

.button {
    width: 40px;
    height: 30px;
    border: 1px black solid;
}

.search input {
    height: 25px;
}

.load {
    float: left;
    width: 250px;
    height: 100px;
    border: 2px solid rgb(33, 30, 23);
    border-top-width: 20px;
    padding-left: 5px;
    padding-top: 10px;
    margin: 20px;
    border-radius: 5px;
    background: rgba(33, 30, 23, 0.3);
    color: rgb(0, 0, 0);
}

.right {
    float: left;
    width: 350px;
    margin-left: 10px;
    margin-top: 20px;
}

.left {
    float: left;
    width: 800px;
    margin-left: 20px;
    margin-top: 20px;
}

.box1 {
    float: left;
    width: 750px;
    height: 600px;
    padding: 20px;
    margin: 20px;
    margin-left: 0px;
    box-shadow: 0px 0px 10px 3px black;
}

.box1 a {
    color: white;
}

.image01 {
    width: 700px;
    height: 390px;
    margin: 30px auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-attachment: scroll;
    border: 10px grey solid;
    border-radius: 5px;
}


.border {
    text-align: center;
    border-radius: 5px;
    background: rgba(33, 30, 23, 0.3);
    box-shadow: 0px 0px 10px 3px black;
}


.theme {
    width: 200px;
    margin: 10px auto;
    font-size: 30px;
    background-color: skyblue;
    color: white;
    border-radius: 5px;
    text-shadow: 0px 0px 10px blue;
}

.board {
    float: left;
    width: 250px;
    height: 500px;
    margin: 20px;
    margin-left: 25px;
    border-top: 20px black solid;
}

.board a {
    font-size: 20px;
    color: greenyellow;
}

.text {
    float: left;
    width: 250px;
    height: 400px;
    margin: 20px;
    margin-left: 25px;
    border-top: 20px black solid;
}





/* 我的博客界面css样式 */
.box2 {
    float: left;
    width: 750px;
    height: 800px;
    padding: 20px;
    margin: 20px;
    margin-left: 0px;
}

.passage {
    float: laft;
    width: 700px;
    height: 150px;
    margin: 20px auto;
    text-align: left;
    border-radius: 5px;
    background-color: pink;
    color: red;
    box-shadow: 0px 0px 10px 3px hotpink;
}

.passage1 {
    float: laft;
    width: 700px;
    height: 150px;
    margin: 20px auto;
    text-align: left;
    border-radius: 5px;
    background-color: skyblue;
    color: blue;
    box-shadow: 0px 0px 10px 3px blue;
}